.movieContainer {
  display: flex;
  padding: 20px;
  flex-direction: column;
}

.detailsWrap {
  display: flex;
  padding-top: 20px;
}

.movieInfo {
  padding-left: 40px;
}

.movieImg {
  max-width: 20vw;
  object-fit: contain;
}
